ips_sc4_pdo/Debug/
ips_sc4_pdo/Release/
sc4_test/Debug/
sc4_test/Release/
GV_infoboard/Debug/
GV_infoboard/Release/
.metadata/

*.prefs

test_STM32F103C8/.settings/language.settings.xml

STM32F407-DISCOVERY_W5500_INTRON/Docs/.~lock.Flash.ods#
